<!-- <!DOCTYPE html>
<html>
    <body text="green" bgcolor="#FFA500">

<h1>Social Network Ads.</h1>
<p>We are going to predict whether a person will purchase the product that he/she sees through social network ads.</p>

<form action="/prediction" method="post">
    <label for="gender"> Enter 1 if Male or 0 if Female:</label><br>
    <input type="number" id="gender" name="gender"><br>
    <label for="age"> Enter Age:</label><br>
    <input type="nnumber" id="age" name="age"><br>
    <label for="Salary"> Enter Estimated Salary:</label><br>
    <input type="number" id="salary" name="salary"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
    <body text="green" bgcolor="#FFA500">

<h1>Social Network Ads.</h1>
<p>We are going to predict whether a person will purchase the product that he/she sees through social network ads.</p>

<form action="/prediction" method="post">
    <label for="gender"> Gender:</label>
    <label> Male
    <input type="radio" id="gender" name="gender" value="1"></label>
    <label> Female
    <input type="radio" id="gender" name="gender" value="0"></label><br><br>
   
    <label for="age"> Enter Age:</label><br>
    <input type="number" id="age" name="age"><br><br>
    <label for="Salary"> Enter Estimated Salary:</label><br>
    <input type="number" id="salary" name="salary"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
